.slider{
    width: 92%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 30px;
}
.header{
    z-index: 10;
}
.line-header{
    height:60px;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
    position: absolute;
}

.info-detail{
    margin-top:295px;
}

.posts{
    margin-top:70px;
}

.info-bottom{
    margin-top: 80px;

}

.news{
    margin-top:295px;

}

.information{
    z-index: 1;
}

.sidebar{
    margin-top:70px;
}

.popular-posts > p {
    font-size:20px;
    font-weight:600;
    margin-bottom: 20px;
}