.post-info{
    position:relative;
    left: 50%;
    bottom: -13px;
    transform: translateX(-50%) translateY(-43px);
    width: 70%;
    height: 45px;
    border-radius: 15px;
    z-index: 10;
    background-color:var(--primary-color);
    color: var(--white);
    display: flex;
    justify-content:space-around;
    padding: 13px 25px;
    font-size:14px;
}

@media (max-width: 740px) {
    .post-info{
        width: 85%;
    }
}

.post-info i{
    padding-right: 4px;
}